@media (max-width: 1366px) {
  .comparison {
    padding-top: 90px;
  }
}

@media (max-width: 768px) {
  .comparison {
    display: none;
  }

  .comparisonLap {
    display: block;
    padding-top: 70px;

    &__title {
      color: #333;
      font-family: PT Sans Caption;
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
      letter-spacing: 0em;
      text-align: left;
      padding-bottom: 30px;
    }

    &__grid {
      background: #FFFFFF;
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
      border-radius: 8px 8px 10px 10px;
      padding-top: 40px;
    }

    &__gridWrap{

    }

    &__caption {
      color: #333;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      font-family: PT Sans Caption;
      font-size: 18px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: center;
      padding-left: 50px;
      padding-bottom: 22px;

    }

    &__captionComp {
      text-align: left;
    }

    &__gridRow {
      border-bottom: 2px solid #EAEAEA;
      display: grid;
      grid-template-columns: 300px 0.8fr 0.9fr;
      height: 65px;
      padding-left: 50px;
      text-align: center;
    }

    &__gridRow:last-child {
      border-bottom: none;
    }

    &__gridText {
      display: flex;
      align-items: center;
      color: #333;
      font-family: PT Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }

    &__gridMinus {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__gridMinus .icon-svg {
      height: 3px;
      width: 12px;
    }

    &__gridCheck {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 10px;
    }

    &__gridCheck .icon-svg {
      height: 11px;
      width: 16px;
    }

  }
}

.comparison {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width:1200px;
  padding-top: 110px;
  width: 100%;


  &__title {
    align-items: flex-start;
    color: #333;
    font-family: PT Sans Caption;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    padding-bottom: 40px;
    text-align: left;

  }

  &__grid {
    background: #FFFFFF;
    border-radius: 8px 8px 10px 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

  }


  &__gridRow {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 64px;
    max-width: 1200px;
    width: 100%;

  }

  &__gridCaption {
    color: #333333;
    display: flex;
    font-family: PT Sans Caption;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding: 47px 104px 25px 60px;

  }

  &__gridCaptionComp {
    padding-right: 356px;
    width: 440px;
  }

  &__gridCaptionCorp {
    padding-right: 158px;
  }

  &__gridText {
    color: #333333;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    padding-left: 60px;
    padding-right: 158px;
    max-width: 660px;
    width: 100%;
  }


  &__gridMinus {
    justify-content: flex-end;
    color:#FF6600;
    padding-right: 128px;
  }

  &__gridMinus .icon-svg {
    height: 3px;
    width: 12px;
  }

  &__gridCheck {
    justify-items: flex-end;
    padding-left: 73px;
    padding-right: 123px;
  }

  &__gridCheck .icon-svg {
    height: 11px;
    width: 16px;
  }

  &__gridBorder{
    clear: inherit;
    border-bottom: 2px solid #EAEAEA;
  }


}

.comparisonLap {
  display: none;
}

.gridProperties{
  height: 64px;
}
