@media (max-width: 1366px) {
  .footerTop {
    border-top: 1px solid #C0C0C0;
    padding-top: 64px;
    max-width: 1000px;
  }
}
@media (max-width: 768px) {
  .footerTop{
    max-width: 640px;

    &__container {
      margin: 0 auto;
      max-width: 640px;
      width: 100%;
    }

    &__content{
      display: flex;
    }

    &__contentCaption {
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 32px;
    }

    &__contentTypes {
      max-width: fit-content;
    }

    &__contentBranch {
      max-width: fit-content;
    }

    &__contentText {
      display: none;
    }

    &__captionFlaviconUp {
      display: inline-block;
      padding-left: 12px;
    }

    &__contentView {
      display: none;
    }

    .fa-angle-up::before {
      content: "\f106";
    }
  }
}

@media (max-width: 320px) {
  .footerTop{
    max-width: 288px;
    padding-top: 24px;

    &__container {
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    &__contentCaption {
      color: #333;
      font-family: PT Sans;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      padding-top: 17px;
    }

    &__captionFlaviconDown {
      display: inline-block;
      padding-left: 8px;
    }

    &__captionFlaviconUp {
      display: none;
    }

    .fa-angle-up::before {
      content: " ";
    }

    .fa-angle-down:before {
      content: "\f107";
    }
  }
}


.footerTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 164px;
  max-width: 1200px;
  width: 100%;

  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__contentTypes {
    max-width: 250px;
    width: 100%;
  }

  &__contentBranch {
    max-width: 222px;
    width: 100%;
  }

  &__contentCaption {
    color: #333;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__contentText {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
  }

  &__contentLink {
    color: #333;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
  }

  &__contentView {
    padding-top: 22px;
    color: #ff6500;
    font-family: PT Sans Caption;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
  }

  &__captionFlaviconUp {
    display: none;
  }

  &__contentFlavicon {
    padding-left: 9px;
  }

  &__captionFlaviconDown {
    display: none;
  }

  .fa-angle-up::before{
    content: " ";
  }

  .fa-angle-down:before {
    content: " ";
  }


}


