@media (max-width: 1366px) {
  .reports {
    padding-top: 90px;
  }

}
.reports {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 110px;
  width: 1200px;

  &__title{
    align-self: flex-start;
    color: #333;
    font-family: PT Sans Caption;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
  }

  &__container{
    align-items: flex-start;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
  }

  &__item{
    display: flex;
    padding-top: 34px;
    width: 842px;
  }

  &__itemText {
    color: #333;
    font-family: PT Sans;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;

  }

  &__itemIcon {
    max-height: 20px;
    max-width: 20px;
    padding-right: 32px;
  }

}
