@media (max-width: 1366px) {
  .sliderSwiper {
    padding-top: 45px;
  }
}
@media (max-width: 768px) {
  .sliderSwiper {
    display: none;
  }
}

@media (max-width: 320px) {
  .sliderSwiper {
    display: block;
    padding-top: 60px;
    max-width: 288px;
    width: 100%;

    &__title {
      display: block;
      color: #333;
      font-family: PT Sans Caption;
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
      letter-spacing: 0em;
      text-align: left;
      padding-bottom: 24px;
    }
  }

  .swiper {
    height: 440px;
    width: 288px;
  }

  .imageSlider__image {
    display: none;
  }


  .gridSlider {
    box-shadow: 0px 0px 50px 0px #0000001A;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__containerUp {
      padding-left: 30px;
      padding-top: 30px;
    }

    &__containerDown {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 25px;
    }

    &__caption {
      color: #333;
      font-family: PT Sans Caption;
      font-size: 16px;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;
    }

    &__text {
      color: #333;
      font-family: PT Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      padding-bottom: 30px;
      padding-top: 12px;
      text-align: left;
    }

    &__linear {
      border-bottom: 2px solid #EAEAEA;
      max-width: 288px;
      width: 100%;
    }

    &__minus {
      padding-top: 20px;
      padding-bottom: 60px;
    }

    &__check {
      padding-top: 20px;
      padding-bottom: 40px;
    }

    &__minus .icon-svg {
      height: 3px;
      width: 12px;
    }

    &__check .icon-svg {
      height: 11px;
      width: 16px;
    }
  }

  .imageSlider .swiper-button-prev {
    display: none;
  }

  .imageSlider .swiper-button-next {
    display: none;
  }


}

.swiper {
  height: 537px;
  width: 915px;
}
.sliderSwiper {
  padding-top: 110px;
  max-width: 1200px;
  width: 100%;
}

.gridSlider {
  display: none;
}

.sliderSwiper__title {
  display: none;
}

.imageSlider__image {
  text-align: center;
  margin-left: 64px;
  width: 775px;
}
.imageSlider__slideImg {
  max-width: 100%;
}

.imageSlider .swiper-button-prev::after,
.imageSlider .swiper-button-prev::after {

}
.imageSlider .swiper-scrollbar {
   background: none;
}
.imageSlider .swiper-pagination-bullet {
  //background-color: #ff6600;
  opacity: 1;
}

.imageSlider .swiper-slide-shadow {
  box-shadow: 4px 4px 44px 0px #00000026;
}

.imageSlider .swiper-button-prev {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 30px;
  background-color: #e2e2e2;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  display: flex;
  height: 80px;
  justify-content: flex-start;
  padding-left: 33px;
  left: 1px;
  height: 80px;
  width: 66px;
}

.imageSlider .swiper-button-prev:hover {
  background-color: #ff6600;
  animation: 1s ease-in;
}


.imageSlider .swiper-button-prev:after {
  content: " ";
}

.imageSlider .swiper-button-next {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 30px;
  background-color: #e2e2e2;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  height: 80px;
  justify-content: flex-end;
  padding-right: 33px;
  right: 20px;
  width: 66px;
}

.imageSlider .swiper-button-next:hover {
  background-color: #ff6600;
  animation: 1s ease-in;
}


.imageSlider .swiper-button-next:after {
  content: " ";
}




//.imageSlider .swiper-button-prev-arrow {
//
//}

//.imageSlider .swiper-button-next-arrow {
//  width: 23px;
//  height: 3px;
//  background-color: #fff;
//  display: block;
//}

//.imageSlider .swiper-button-next-arrow:after{
//  content: '';
//  position: absolute;
//  width: 13px;
//  height: 3px;
//  top: 34px;
//  right: 32px;
//  background-color: #fff;
//  transform: rotate(45deg);
//}
//
//.imageSlider .swiper-button-next-arrow:before {
//  content: '';
//  position: absolute;
//  width: 13px;
//  height: 3px;
//  top: 43px;
//  right: 32px;
//  background-color: #fff;
//  transform: rotate(-45deg);
//}

.imageSlider .swiper-pagination-fraction {
  bottom: 2px;
}
