@media (max-width: 1366px) {
  .suitable {
    padding-top: 90px;
  }
}

@media (max-width: 768px) {
  .suitable {
    padding-top: 70px;

    &__title {
      font-size: 24px;
      line-height: 34px;
    }

    &__description {
      font-family: PT Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
    }

    &__tabs {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
    }

    &__tabs::-webkit-scrollbar {
      display: none;
    }

    &__btn {
      display: inline-block;

    }

    &__tabContainerMain {
      flex-direction: column;
      padding-top: 30px;
    }

    &__tabContainer{
      height: 445px;
    }

    &__tabContainerRight{
      padding-top: 36px;
    }

    &__tabContainerTitle{
      padding-bottom: 24px;
    }

  }

}

.suitable {

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 110px;
  max-width: 1200px;
  width: 100%;

  &__title {
    color: #333;
    font-family: PT Sans Caption;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
  }

  &__description{
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    padding-top: 23px;
    text-align: left;
  }

  &__tabs {
    padding-top: 40px;
  }

  &__btn{
    margin-right: 24px;
  }

  &__tabContainerMain {
    display: flex;
    padding-top: 40px;
    max-width:1200px;
    width: 100%;
  }
  &__tabContainerLeft {
    padding-right: 29px;
    max-width: 583px;
    width: 100%;
  }
  &__tabContainerTitle{
    color: #333;
    font-family: PT Sans Caption;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    padding-bottom: 33px;
    text-align: left;

  }

  &__item {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }

  &__itemIcon {
    padding-right: 24px;
  }

  &__itemIcon .icon-svg {
    height: 11px;
    width: 16px;
  }

  &__itemText {
    color: #333;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;

  }

}
.suitable__tabs-js {
  background: #FFFFFF;
  border: 2px solid #EAEAEA;
  box-sizing: border-box;
  border-radius: 39px;
  color: #333;
  cursor: pointer;
  font-family: PT Sans Caption;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  padding: 15px 35px;
  text-align: left;

}

.suitable__tabs-js.jsTabActive {
  color: #ff6600;
  background: #FFFFFF;
  border: 2px solid #FF6600;
  box-sizing: border-box;
  border-radius: 39px;
}



.suitable__tabContainer {
  display: none;
  height: 244px;
}

.suitable__tabContainer.jsTabActive {
  display: block;
}
